


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}